<body *ngIf="dataService.isLoggedIn()" >
<div style="width: 100%;">
    <mat-toolbar style="background-color: rgb(73, 73, 182); width: 100%;">
          <span class="title">Todo List</span>
          <button mat-button class="create-button" style="color: aliceblue;" (click)="openCategoryDialog()"> Категории</button>
          <button mat-button class="create-button" style="color: aliceblue;" (click)="openPriorityDialog()"> Приоритеты</button>
          <button mat-button class="create-button" style="color: aliceblue;" (click)="openDialog()">Создать задачу</button>
          <button mat-mini-fab color="primary" aria-label="Profile" (click)="openProfileDialog()">
            <mat-icon>account_circle</mat-icon>
          </button>
    </mat-toolbar>
    <mat-accordion>
  <mat-expansion-panel (opened)="panelFilterOpenState = true"
                       (closed)="panelFilterOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Поиск задачи по фильтрам
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-search [dataSourse]="noteSource" (filteredData)="receiveFilteredData($event)"></app-search>
  </mat-expansion-panel>
</mat-accordion>

    <p style="text-align: center; font-size: x-large;">Задачи</p>
    <div class="form-table mat-elevation-z8 custom-table">
    <table mat-table  [dataSource]="noteSource" matSort class="mat-elevation-z8 custom-table">
      <ng-container matColumnDef="check_result">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="toggleCompletion(element.id)">
             <mat-icon [ngStyle]="{'color': element.check_result ? 'green' : 'red'}">
                {{ element.check_result ? 'check_circle_outline' : 'panorama_fish_eye' }}
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

    <ng-container matColumnDef="theme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Тема </th>
      <td mat-cell *matCellDef="let element"> {{element.theme}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="max-width: 120px;" mat-sort-header> Описание </th>
      <td mat-cell *matCellDef="let element" style="max-width: 120px;">
        <div style="position: relative;">
          <div *ngIf="element.description.length > 10" style="display: flex;">
            <span style="margin-top: 10%; justify-content:start">{{ element.description.slice(0, 10) }}...</span>
            <button mat-icon-button style="justify-content:end"  class="btn-icon" (click)="toggleDescription(element.id)">
              <mat-icon>{{ element.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
          </div>
          <div *ngIf="element.expanded">
            <span>{{ element.description }}</span>
          </div>
          <div *ngIf="element.description.length <= 10">
            <span>{{ element.description }}</span>
          </div>
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет
       </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория
    </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Автор </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef="date_creation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Создана
        </th>
        <td mat-cell *matCellDef="let element"> {{element.date_creation | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="date_completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Выполнить
          </th>
        <td mat-cell *matCellDef="let element"> {{element.date_completed | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef >Действия</th>
      <td mat-cell *matCellDef="let element">
      <div class="btns-mini">
        <button mat-mini-fab class="mini-fab" color="warn" aria-label="Delete" (click)="deleteNote(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab  class="mini-fab" color="primary" aria-label="Edit" (click)="editNote(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  </div>
</div>

</body>
