<mat-dialog-content>
<mat-form-field class="priority-chip-list">
  <mat-label>Приоритеты</mat-label>
  <mat-chip-grid #chipGrid aria-label="Добавить приоритеты">
    @for (priority of priorities; track priority) {
      <mat-chip-row
        (removed)="remove(priority)"
        [editable]="true"
        (edited)="edit(priority, $event)"
        [aria-description]="'press enter to edit ' + priority.name">
        {{priority.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + priority.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input placeholder="Новый приоритет..."
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-grid>
</mat-form-field>
<button mat-button mat-dialog-close color="primary">Отмена</button>
</mat-dialog-content>