<div class="body-auth">
  <h1>Todo List</h1>
  <h2>Регистрация</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="register-form" >
  <label for="name">Имя</label>
  <mat-form-field>
    <input matInput placeholder="Введите имя" id="name" formControlName="name">
  </mat-form-field>

  <label for="login">Логин</label>
  <mat-form-field>
    <input matInput placeholder="Введите логин" id="login" formControlName="login">
  </mat-form-field>

  <label for="password">Пароль</label>
  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Введите пароль" formControlName="password">
  </mat-form-field>

  <button mat-raised-button class="button-register" type="submit">Зарегистрироваться</button>
</form>
<div class="line"></div>
<p>У меня есть аккаунт! <a routerLink="/">Войти</a></p>
</div>