<div class="body-auth">
  <h1>Todo List</h1>
  <h2>Авторизация</h2>
<form  [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth-form">
  <mat-label for="login">Логин</mat-label>
  <mat-form-field>
    <input matInput placeholder="Введите логин" id="login" formControlName="login">
  </mat-form-field>

  <mat-label for="password">Пароль</mat-label>
  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Введите пароль" formControlName="password">
  </mat-form-field>

  <button mat-raised-button class="button-auth" type="submit">Войти</button>
  <p *ngIf="isLoginFailed" class="error-message">
    Форма заполнена некорректно. Пожалуйста, проверьте данные. Если действия не помогли задачу
  </p>
</form>
<div class="line"></div>
<p>У меня нет аккаунта! <a routerLink="/register">Зарегистрируйтесь</a></p>
</div>
 