.form-note{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.button_complite{
    background-color: rgb(73, 73, 182);
    color: white;
}

.button_complite[disabled]{
  background-color: gray;
  color: white;
}
