<mat-dialog-content>
  <h2>Создать задачу</h2>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div class="form-note">
    <mat-form-field>
      <input matInput type="text" id="theme" formControlName="theme" placeholder="Тема">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="date_completed" placeholder="Дата выполнения">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Категория</mat-label>
      <mat-select id="category" formControlName="category">
        @for (category of categories; track category) {
          <mat-option [value]="category.name">{{ category.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Приоритет</mat-label>
      <mat-select id="priority" formControlName="priority">
        @for (priority of priorities; track priority) {
          <mat-option [value]="priority.name">{{ priority.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 90%;">
      <textarea matInput type="text" id="description" formControlName="description" placeholder="Описание"></textarea>
    </mat-form-field>
  </div>
  <button mat-button mat-dialog-close>Отмена</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial type="submit" class="button_complite"  [disabled]="!noteForm.valid">Записать</button>
  </form>
</mat-dialog-content>
